<div class="flex flex-column">
  <span class="text-xl mb-4 text-center text-white">Registrarse</span>
  <form (ngSubmit)="onSubmit()"  [formGroup]="userForm" class="flex flex-column">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Usuario</mat-label>
      <input required type="text" matInput formControlName="user">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Correo</mat-label>
      <input required type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Contraseña</mat-label>
      <input required type="password" matInput formControlName="password">
    </mat-form-field>
  </form>
  <button mat-button mat-flat-button (click)="onSubmit()" color="primary">
    <mat-icon>save</mat-icon>
    Crear cuenta
  </button>
  <span class="flex justify-content-end mt-5">
    <a class="text-color" routerLink="/auth/login">¿Ya tienes una cuenta?</a>
  </span>
</div>
